#addedit_form {
}

#addedit_form .clr {
  clear: both;
}

#addedit_form .label {
  width: 150px;
  float: left;
  margin: 5px 10px 5px 10px;
  text-align: right;
}

#addedit_form .label2 {
  width: 150px;
  float: left;
  margin: 5px 10px 5px 10px;
  text-align: right;
}

#addedit_form .field {
  float: left;
  margin: 5px 0px 5px 0px;
}

#addedit_form .tip {
  float: left;
  margin: 5px 0px 5px 5px;
}

#addedit_form .fieldc {
  width: 200px;
  float: left;
  margin: 5px 20px 5px 0px;
}

#addedit_form .nodisplay {
  display: none;
}

.imgbutton {
  cursor: pointer;
}

.pdl_header {
  width: 100px;
  font-weight: bold;
  float: left;
  margin: 10px 15px 5px 5px;
}

.pdl_text {
  width: 100px;
  float: left;
  margin: 5px 15px 5px 5px;
}